<table class="records-table">
  <thead>
    <tr>
      <th>Rank</th>
      <th>Player</th>
      <th>
        <LinkTo @route="chart-groups.show" @model={{@chartGroup.id}} @query={{hash mainChartId=mainChart.id}}>
          {{mainChart.name}}
        </LinkTo>
      </th>
      {{#each otherCharts as |chart|}}
        <th>
          <LinkTo @route="chart-groups.show" @model={{@chartGroup.id}} @query={{hash mainChartId=chart.id}}>
            {{chart.name}}
          </LinkTo>
        </th>
      {{/each}}
    </tr>
  </thead>

  <tbody>
    {{#each recordRows as |recordRow|}}
      <tr>
        <td>{{recordRow.mainRecord.rank}}</td>
        <td>{{recordRow.mainRecord.user.username}}</td>
        <td>
          <LinkTo @route="charts.user-history" @models={{array mainChart.id recordRow.mainRecord.user.id}}>
            {{recordRow.mainRecord.valueDisplay}}
          </LinkTo>
        </td>

        {{#each recordRow.otherRecords as |otherRecord|}}
          <td>
            <LinkTo @route="charts.user-history" @models={{array otherRecord.chart.id otherRecord.user.id}}>
              {{otherRecord.valueDisplay}}
            </LinkTo>
          </td>
        {{/each}}
      </tr>
    {{/each}}
  </tbody>
</table>
