{{#unless @root}}
  <LinkTo @route="chart-groups.show" @model={{@cg}}>{{@cg.name}}</LinkTo>
{{/unless}}

<ul class="chart-group-listing">
  {{#each @cg.childGroups as |cg2|}}
    <li>
      <ChartGroupContents @cg={{cg2}} @root={{false}} />
    </li>
  {{/each}}
</ul>

<ul class="chart-group-listing">
  {{#each @cg.charts as |chart|}}
    <li>
      <LinkTo @route="charts.show" @model={{chart.id}}>{{chart.name}}</LinkTo>
    </li>
  {{/each}}
</ul>
