<table class="records-table">
  <thead>
    <tr>
      <th>Rank</th>
      <th>Player</th>
      <th>
        {{#link-to "chart-groups.show" chartGroup.id (query-params mainChartId=mainChart.id)}}
          {{mainChart.name}}
        {{/link-to}}
      </th>
      {{#each otherCharts as |chart|}}
        <th>
          {{#link-to "chart-groups.show" chartGroup.id (query-params mainChartId=chart.id)}}
            {{chart.name}}
          {{/link-to}}
        </th>
      {{/each}}
    </tr>
  </thead>

  <tbody>
    {{#each recordRows as |recordRow|}}
      <tr>
        <td>{{recordRow.mainRecord.rank}}</td>
        <td>{{recordRow.mainRecord.user.username}}</td>
        <td>
          {{#link-to "charts.user-history" mainChart.id recordRow.mainRecord.user.id}}
            {{recordRow.mainRecord.valueDisplay}}
          {{/link-to}}
        </td>

        {{#each recordRow.otherRecords as |otherRecord|}}
          <td>
            {{#link-to "charts.user-history" otherRecord.chart.id otherRecord.user.id}}
              {{otherRecord.valueDisplay}}
            {{/link-to}}
          </td>
        {{/each}}
      </tr>
    {{/each}}
  </tbody>
</table>
