<ul class="plain-bullet-list">
  {{#each filters as |filter|}}
    <li>
      <button type="button" class="show-filter-detail-button" {{action "updateSelectedFilterIdAction" filter.id}}> {{filter.name}} </button>
    </li>
  {{/each}}
</ul>

<div>
  Search: <Input @type="text" @value={{searchText}} class="search-input" />
</div>

<PageNavigation @pageResults={{filters}} @pageNumber={{pageNumber}} @updatePageNumber={{action (mut pageNumber)}} />
