<div class="filter-apply-form">
  Add filter:

  {{!-- Choice of filter group --}}
  {{#power-select
    options=filterGroups
    selected=selectedFilterGroup
    onchange=(action (mut selectedFilterGroup))
    placeholder="Not selected"
    matchTriggerWidth=false
    as |filterGroup|}}
    {{filterGroup.name}}
  {{/power-select}}

  {{!-- Choice of is, is not, <=, >= --}}
  {{#power-select
    options=compareOptions
    selected=selectedCompareOption
    onchange=(action (mut selectedCompareOption))
    placeholder="Not selected"
    matchTriggerWidth=false
    as |compareOption|}}
    {{compareOption.text}}
  {{/power-select}}

  {{!-- Choice of filter from the filter group --}}
  {{filter-select
    filterGroup=selectedFilterGroup
    selected=selectedFilter
    onFilterChange=(action (mut selectedFilter))}}

  <button class="add-filter-button" type="submit" {{action "addFilter"}}>Add</button>
</div>

<div>
  Applied filters:
  {{#each appliedFilters as |appliedFilter index|}}
    <span class="applied-filter">{{appliedFilter.display}}</span>
    {{!-- TODO: This remove button should be an image button or CSS-drawn button, not a text button. Also, ideally the button would only show when hovering over the applied filter. --}}
    <button type="button" class="applied-filter-remove-button" {{action "removeFilter" index}}> x </button>
  {{/each}}
</div>
