<div class="filter-basic-fields {{if this.isEditing "hidden"}}">
  <h2>{{this.filter.name}}</h2>
  {{#if (eq this.filter.filterGroup.kind "select")}}
    <div>
      Type: {{this.filter.usageType}}
    </div>
  {{/if}}
  {{#if (eq this.filter.filterGroup.kind "numeric")}}
    <div>
      Numeric value: {{this.filter.numericValue}}
    </div>
  {{/if}}

  <div>
    <button type="button" class="start-editing-filter-button" {{action "startEditing"}}> Edit details </button>
  </div>
</div>

<div class="filter-edit-form {{unless this.isEditing "hidden"}}">
  <div>
    <label for="edit-filter-name">Name</label>
    <Input
      @type="text" @value={{this.editableParams.name}}
      name="name" id="edit-filter-name" />
  </div>
  {{#if (eq this.filter.filterGroup.kind "numeric")}}
    <div>
      <label for="edit-filter-numeric-value">Numeric value</label>
      <Input
        @type="number" @value={{this.editableParams.numericValue}}
        name="numeric-value" id="edit-filter-numeric-value" />
    </div>
  {{/if}}

  <div>
    <button type="button" class="save-button" {{action "saveEdits"}}> Save edits </button>
    <button type="button" class="cancel-button" {{action "stopEditing"}}> Cancel </button>
  </div>
</div>


{{#if (eq this.filter.usageType "choosable")}}
  <div class="record-count">Used by {{this.recordCount.value}} records</div>
{{else}}
  <div class="record-count">Applies to {{this.recordCount.value}} records</div>
{{/if}}


<div class="error-message">{{error-display this.filterDeleteError}}</div>
<div>
  <button type="button" class="filter-delete-button" {{action "deleteFilter"}}> Delete this filter </button>
</div>


{{#if (eq this.filter.filterGroup.kind "select")}}
  <hr>

  {{#if (eq this.filter.usageType "implied")}}
    <div class="incoming-implications-list">
      <h3>Implied by</h3>

      {{#if (eq this.incomingImplications.length 0)}}
        (None)
      {{else}}
        {{#each this.incomingImplications as |implyingFilter|}}
          <button type="button" class="show-filter-detail-button" {{action (mut @filterId) implyingFilter.id}}>
            {{implyingFilter.name}}
          </button>
        {{/each}}
        <PageNavigation
          @pageResults={{this.incomingImplications}} @pageNumber={{this.incomingImplicationsPageNumber}}
          @updatePageNumber={{action (mut this.incomingImplicationsPageNumber)}} />
      {{/if}}
    </div>
  {{/if}}

  {{#if (eq this.filter.usageType "choosable")}}
    <div class="outgoing-implications-list">
      <h3>Implies</h3>

      {{#if (eq this.outgoingImplications.length 0)}}
        (None)
      {{else}}
        {{#each this.outgoingImplications as |impliedFilter|}}
          <button type="button" class="show-filter-detail-button" {{action (mut @filterId) impliedFilter.id}}>
            {{impliedFilter.name}}
          </button>
        {{/each}}
        <PageNavigation
          @pageResults={{this.outgoingImplications}} @pageNumber={{this.outgoingImplicationsPageNumber}}
          @updatePageNumber={{action (mut this.outgoingImplicationsPageNumber)}} />
      {{/if}}
    </div>
  {{/if}}

  <div class="filter-implication-create-form">
    <h3>Create an outgoing implication</h3>

    <div class="target-filter-select select-field-wrapper">
      <FilterSelect
        @filterGroup={{this.filter.filterGroup}}
        @selected={{this.newImplicationTargetFilter}}
        @onFilterChange={{action (mut this.newImplicationTargetFilter)}} />
    </div>

    <div class="error-message">{{error-display this.implicationCreateError}}</div>

    <div>
      <button type="button" class="create-button" {{action "createImplication"}}> Create implication </button>
    </div>
  </div>

  <div class="filter-implication-delete-form">
    <h3>Delete an outgoing implication</h3>

    <div class="implication-select select-field-wrapper">
      {{!-- Retrieves this filter's implications from ember-data, such that the
      related filter's name matches the search box contents. --}}
      <DataPowerSelect
        @modelName="filter"
        @params={{hash implied_by_filter_id=this.filter.id}}
        @searchEnabled={{true}}
        @queryKey="name_search"
        @selected={{this.selectedImplicationDeletionOption}}
        @onChange={{action (mut this.selectedImplicationDeletionOption)}}
        @placeholder="Not selected"
        @matchTriggerWidth={{false}}
        as |option|>
        {{option.name}}
      </DataPowerSelect>
    </div>

    <div class="error-message">{{error-display this.implicationDeleteError}}</div>

    <div>
      <button type="button" class="delete-button" {{action "deleteImplication"}}> Delete implication </button>
    </div>
  </div>
{{/if}}
