<div class="filter-apply-form">
  Add filter:

  {{!-- Choice of filter group --}}
  <PowerSelect
    @options={{@filterGroups}}
    @selected={{this.selectedFilterGroup}}
    @onChange={{action this.updateSelectedFilterGroup}}
    @placeholder="Not selected"
    @matchTriggerWidth={{false}}
    as |filterGroup|>
    {{filterGroup.name}}
  </PowerSelect>

  {{!-- Choice of is, is not, <=, >= --}}
  <PowerSelect
    @options={{this.compareOptions}}
    @selected={{this.selectedCompareOption}}
    @onChange={{action (mut this.selectedCompareOption)}}
    @placeholder="Not selected"
    @matchTriggerWidth={{false}}
    as |compareOption|>
    {{compareOption.text}}
  </PowerSelect>

  {{!-- Choice of filter from the filter group --}}
  <FilterSelect
    @filterGroup={{this.selectedFilterGroup}}
    @selected={{this.selectedFilter}}
    @onFilterChange={{action (mut this.selectedFilter)}} />

  <button class="add-filter-button" type="submit" {{action "addFilter"}}>Add</button>
</div>

<div>
  Applied filters:
  {{#each this.appliedFilters as |appliedFilter index|}}
    <span class="applied-filter">{{appliedFilter.display}}</span>
    {{!-- TODO: This remove button should look better as an image button or CSS-drawn button, instead of a text button. --}}
    <button type="button" class="applied-filter-remove-button" {{action "removeFilter" index}}> x </button>
  {{/each}}
</div>
