<div class="filter-basic-fields {{if this.isEditing "hidden"}}">
  <h2>{{this.filter.name}}</h2>
  {{#if (eq this.filter.filterGroup.kind "select")}}
    <div>
      Type: {{this.filter.usageType}}
    </div>
  {{/if}}
  {{#if (eq this.filter.filterGroup.kind "numeric")}}
    <div>
      Numeric value: {{this.filter.numericValue}}
    </div>
  {{/if}}

  <div>
    <button type="button" class="start-editing-filter-button" {{action "startEditing"}}> Edit details </button>
  </div>
</div>

<div class="filter-edit-form {{unless this.isEditing "hidden"}}">
  <div>
    <label for="edit-filter-name">Name</label>
    <Input
      @type="text" @value={{this.editableParams.name}}
      name="name" id="edit-filter-name" />
  </div>
  {{#if (eq this.filter.filterGroup.kind "numeric")}}
    <div>
      <label for="edit-filter-numeric-value">Numeric value</label>
      <Input
        @type="number" @value={{this.editableParams.numericValue}}
        name="numeric-value" id="edit-filter-numeric-value" />
    </div>
  {{/if}}

  <div>
    <button type="button" class="save-button" {{action "saveEdits"}}> Save edits </button>
    <button type="button" class="cancel-button" {{action "stopEditing"}}> Cancel </button>
  </div>
</div>


{{#if (eq this.filter.usageType "choosable")}}
  <div class="record-count">Used by {{this.recordCount.value}} records</div>
{{else}}
  <div class="record-count">Applies to {{this.recordCount.value}} records</div>
{{/if}}


<div class="error-message">{{error-display this.filterDeleteError}}</div>
<div>
  <button type="button" class="filter-delete-button" {{action "deleteFilter"}}> Delete this filter </button>
</div>


{{#if (eq this.filter.filterGroup.kind "select")}}
  <hr>

  {{#if (eq this.filter.usageType "implied")}}
    <div>
      <h3>Implied by</h3>

      {{#if (eq this.incomingImplications.length 0)}}
        (None)
      {{else}}
        {{#each this.incomingImplications as |implication|}}
          <button type="button" class="show-filter-detail-button" {{action (mut @filterId) implication.implyingFilter.id}}>
            {{implication.implyingFilter.name}}
          </button>
        {{/each}}
        <PageNavigation
          @pageResults={{this.incomingImplications}} @pageNumber={{this.incomingImplicationsPageNumber}}
          @updatePageNumber={{action (mut this.incomingImplicationsPageNumber)}} />
      {{/if}}
    </div>
  {{/if}}

  {{#if (eq this.filter.usageType "choosable")}}
    <div>
      <h3>Implies</h3>

      {{#if (eq this.outgoingImplications.length 0)}}
        (None)
      {{else}}
        {{#each this.outgoingImplications as |implication|}}
          <button type="button" class="show-filter-detail-button" {{action (mut @filterId) implication.impliedFilter.id}}>
            {{implication.impliedFilter.name}}
          </button>
        {{/each}}
        <PageNavigation
          @pageResults={{this.outgoingImplications}} @pageNumber={{this.outgoingImplicationsPageNumber}}
          @updatePageNumber={{action (mut this.outgoingImplicationsPageNumber)}} />
      {{/if}}
    </div>
  {{/if}}

  <h3>Links</h3>
  <div class="implication-links-display">
    <div>
      <ul class="incoming-implication-links-list">
        {{#each this.incomingLinks as |link|}}
          <li>
            <button type="button" class="show-filter-detail-button" {{action (mut @filterId) link.implyingFilter.id}}>
              {{link.implyingFilter.name}}
            </button>
          </li>
        {{/each}}
      </ul>
      <PageNavigation
        @pageResults={{this.incomingLinks}} @pageNumber={{this.incomingLinksPageNumber}}
        @updatePageNumber={{action (mut this.incomingLinksPageNumber)}} />
    </div>

    <span>-&gt; {{this.filter.name}} -&gt;</span>

    <div>
      <ul class="outgoing-implication-links-list">
        {{#each this.outgoingLinks as |link|}}
          <li>
            <button type="button" class="show-filter-detail-button" {{action (mut @filterId) link.impliedFilter.id}}>
              {{link.impliedFilter.name}}
            </button>
          </li>
        {{/each}}
      </ul>
      <PageNavigation
        @pageResults={{this.outgoingLinks}} @pageNumber={{this.outgoingLinksPageNumber}}
        @updatePageNumber={{action (mut this.outgoingLinksPageNumber)}} />
    </div>
  </div>

  <div class="filter-implication-link-create-form">
    <h3>Create an implication link</h3>

    <div class="link-direction-select select-field-wrapper">
      <PowerSelect
        @options={{this.linkDirectionOptions}}
        @selected={{this.newLinkDirection}}
        @onChange={{action (mut this.newLinkDirection)}}
        @placeholder="Not selected"
        @matchTriggerWidth={{false}}
        as |option|>
        {{option}}
      </PowerSelect>
    </div>

    <div class="linked-filter-select select-field-wrapper">
      <FilterSelect
        @filterGroup={{this.filter.filterGroup}}
        @selected={{this.newLinkOtherFilter}}
        @onFilterChange={{action (mut this.newLinkOtherFilter)}} />
    </div>

    <div class="error-message">{{error-display this.linkCreateError}}</div>

    <div>
      <button type="button" class="create-button" {{action "createLink"}}> Create link </button>
    </div>
  </div>

  <div class="filter-implication-link-delete-form">
    <h3>Delete an implication link</h3>

    <div class="link-select select-field-wrapper">
      {{!-- Retrieves this filter's links from ember-data, such that the
      linked filter's name matches the search box contents. --}}
      <DataPowerSelect
        @modelName="filterImplicationLink"
        @params={{hash filter_id=this.filter.id}}
        @searchEnabled={{true}}
        @queryKey="linked_filter_search"
        @selected={{this.selectedLinkDeletionOption}}
        @onChange={{action (mut this.selectedLinkDeletionOption)}}
        @placeholder="Not selected"
        @matchTriggerWidth={{false}}
        as |option|>
        {{link-delete-option-display option this.filter}}
      </DataPowerSelect>
    </div>

    <div class="error-message">{{error-display this.linkDeleteError}}</div>

    <div>
      <button type="button" class="delete-button" {{action "deleteLink"}}> Delete link </button>
    </div>
  </div>
{{/if}}
