{{#each @filterGroups as |filterGroup|}}
  <div class="filter-group-{{filterGroup.id}}-select select-field-wrapper">
    <label>{{filterGroup.name}}</label>

    <FilterSelect
      @filterGroup={{filterGroup}}
      @selected={{get this.filtersPerGroup filterGroup.id}}
      @onFilterChange={{action "onAnyFilterChange" filterGroup.id}}
      @filterUsageType="choosable" />
  </div>
{{/each}}
