<h1>Create ladder for: <LinkTo @route="games.ladders" @model={{@model.game.id}}> {{@model.game.name}} </LinkTo></h1>

<div>
  <label for="ladder-name">Name</label>
  <Input
    @type="text" @value={{@model.ladder.name}}
    class="name-input" id="ladder-name" />
</div>

<div class="kind-select select-field-wrapper">
  <label>Kind</label>
  <PowerSelect
    @options={{@model.ladder.KIND_OPTIONS}}
    @selected={{@model.ladder.kind}}
    @onChange={{action (mut @model.ladder.kind)}}
    @placeholder="Not selected"
    @matchTriggerWidth={{false}}
    as |kind|>
    {{kind}}
  </PowerSelect>
</div>

<div>
  <label for="ladder-filter-spec">Filter specification</label>
  <Input
    @type="text" @value={{@model.ladder.filterSpec}}
    class="filter-spec-input" id="ladder-filter-spec" />
</div>

<div class="chart-group-select select-field-wrapper">
  <label>Chart group</label>
  <PowerSelect
    @options={{@model.chartGroups}}
    @selected={{@model.ladder.chartGroup}}
    @onChange={{action (mut @model.ladder.chartGroup)}}
    @placeholder="Not selected"
    @matchTriggerWidth={{false}}
    as |chartGroup|>
    {{chartGroup.name}}
  </PowerSelect>
</div>

<div><button type="submit" {{action "saveLadder"}}>Save ladder</button></div>
