<h1>{{@model.game.name}}</h1>

<h2>Ladders</h2>

<ul>
  {{#each @model.mainLadders as |ladder|}}
    <li>
      <LinkTo @route="ladders.show" @model={{ladder}}>
        {{ladder.name}}
      </LinkTo>
    </li>
  {{/each}}
</ul>

<ul>
  {{#each @model.sideLadders as |ladder|}}
    <li>
      <LinkTo @route="ladders.show" @model={{ladder}}>
        {{ladder.name}}
      </LinkTo>
    </li>
  {{/each}}
</ul>

<h2>Admin</h2>

<LinkTo @route="games.ladders" @model={{@model.game}}> Ladders admin </LinkTo>

<h3>Chart Types</h3>

<ul>
  {{#each @model.chartTypes as |chartType|}}
    <li>
      <LinkTo @route="chart-types.filter-groups" @model={{chartType}}>
        {{chartType.name}}
      </LinkTo>
    </li>
  {{/each}}
</ul>

<h2>Charts</h2>

<ul class="chart-group-listing">
  {{#each @model.topLevelChartGroups as |chartGroup|}}
    <li>{{chart-group-contents cg=chartGroup root=false}}</li>
  {{/each}}
</ul>
