<h1>{{@model.game.name}}</h1>

<h2>Ladders</h2>

<ul>
  {{#each @model.mainLadders as |ladder|}}
    <li>
      <LinkTo @route="ladders.show" @model={{ladder.id}}>
        {{ladder.name}}
      </LinkTo>
    </li>
  {{/each}}
</ul>

<ul>
  {{#each @model.sideLadders as |ladder|}}
    <li>
      <LinkTo @route="ladders.show" @model={{ladder.id}}>
        {{ladder.name}}
      </LinkTo>
    </li>
  {{/each}}
</ul>

<h2>Admin</h2>

<ul>
  <li>
    <LinkTo @route="games.chart-types" @model={{@model.game.id}}> Chart types admin </LinkTo>
  </li>
  <li>
    <LinkTo @route="games.filter-groups" @model={{@model.game.id}}> Filter groups admin </LinkTo>
  </li>
  <li>
    <LinkTo @route="games.ladders" @model={{@model.game.id}}> Ladders admin </LinkTo>
  </li>
</ul>

<h2>Charts</h2>

<ul class="chart-group-listing">
  {{#each @model.topLevelChartGroups as |chartGroup|}}
    <li><ChartGroupContents @cg={{chartGroup}} @root={{false}} /></li>
  {{/each}}
</ul>
