{{page-title (concat @model.game.name ": Home") }}

<div class="general-content-box">
  <h1>{{@model.game.name}}</h1>
</div>

<!-- This piggybacks off the scoreboard table style for now, but this will likely change when we add more info for each ladder (leaders, active players, your times). -->
<table class="scoreboard">
  <tbody>
    <tr>
      <th colspan="3">Main Ladders</th>
    </tr>

    {{#each @model.mainLadders as |ladder|}}
      <tr>
        <td>
          {{ladder.name}}
        </td>
        <td>
          <LinkTo @route="ladders.show" @model={{ladder.id}}>
            Rankings
          </LinkTo>
        </td>
        <td>
          <LinkTo @route="ladders.charts" @model={{ladder.id}}>
            Charts
          </LinkTo>
        </td>
      </tr>
    {{/each}}

    <tr>
      <th colspan="3">Side Ladders</th>
    </tr>

    {{#each @model.sideLadders as |ladder|}}
      <tr>
        <td>
          {{ladder.name}}
        </td>
        <td>
          <LinkTo @route="ladders.show" @model={{ladder.id}}>
            Rankings
          </LinkTo>
        </td>
        <td>
          <LinkTo @route="ladders.charts" @model={{ladder.id}}>
            Charts
          </LinkTo>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

{{#if this.devMode}}
  <div class="general-content-box">
    <h2>Admin</h2>

    <ul>
      <li>
        <LinkTo @route="games.chart-types" @model={{@model.game.id}}> Chart types admin </LinkTo>
      </li>
      <li>
        <LinkTo @route="games.filter-groups" @model={{@model.game.id}}> Filter groups admin </LinkTo>
      </li>
      <li>
        <LinkTo @route="games.ladders-manage" @model={{@model.game.id}}> Ladders admin </LinkTo>
      </li>
    </ul>
  </div>
{{/if}}
