{{page-title (concat @model.game.name ": Home") }}

<h1>{{@model.game.name}}</h1>

<h2>Main Ladders</h2>

<table>
  <tbody>
    {{#each @model.mainLadders as |ladder|}}
      <tr>
        <td>
          {{ladder.name}}
        </td>
        <td>
          <LinkTo @route="ladders.show" @model={{ladder.id}}>
            Rankings
          </LinkTo>
        </td>
        <td>
          <LinkTo @route="ladders.charts" @model={{ladder.id}}>
            Charts
          </LinkTo>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

<h2>Side Ladders</h2>

<table>
  <tbody>
    {{#each @model.sideLadders as |ladder|}}
      <tr>
        <td>
          {{ladder.name}}
        </td>
        <td>
          <LinkTo @route="ladders.show" @model={{ladder.id}}>
            Rankings
          </LinkTo>
        </td>
        <td>
          <LinkTo @route="ladders.charts" @model={{ladder.id}}>
            Charts
          </LinkTo>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

{{#if this.devMode}}
  <h2>Admin</h2>

  <ul>
    <li>
      <LinkTo @route="games.chart-types" @model={{@model.game.id}}> Chart types admin </LinkTo>
    </li>
    <li>
      <LinkTo @route="games.filter-groups" @model={{@model.game.id}}> Filter groups admin </LinkTo>
    </li>
    <li>
      <LinkTo @route="games.ladders-manage" @model={{@model.game.id}}> Ladders admin </LinkTo>
    </li>
  </ul>
{{/if}}
