{{page-title (concat @model.game.name ' :: Home')}}

<div class='general-content-box'>
  <h1>{{@model.game.name}}</h1>
</div>

<table class='data-table'>
  <tbody>
    <tr>
      <th colspan='3'>Main Ladders</th>
    </tr>

    {{#each @model.mainLadders as |ladder|}}
      <tr>
        <td>
          {{ladder.name}}
        </td>
        <td>
          <LinkTo @route='ladders.show' @model={{ladder.id}}>
            Rankings
          </LinkTo>
        </td>
        <td>
          {{! LinkTo fails to get ladder -> chart group -> id here, if the root chart group hasn't been preloaded. }}
          <BasicLink @route='ladders.charts' @model={{ladder.id}}>
            Charts
          </BasicLink>
        </td>
      </tr>
    {{/each}}

    <tr>
      <th colspan='3'>Side Ladders</th>
    </tr>

    {{#each @model.sideLadders as |ladder|}}
      <tr>
        <td>
          {{ladder.name}}
        </td>
        <td>
          <LinkTo @route='ladders.show' @model={{ladder.id}}>
            Rankings
          </LinkTo>
        </td>
        <td>
          <LinkTo @route='ladders.charts' @model={{ladder.id}}>
            Charts
          </LinkTo>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

<div class='general-content-box'>
  <h2>Site parameters for {{@model.game.name}}</h2>

  <ul>
    <li>
      <LinkTo @route='games.charts' @model={{@model.game.shortCode}}>
        Charts
      </LinkTo>
    </li>
    <li>
      <LinkTo @route='games.chart-types' @model={{@model.game.shortCode}}>
        Chart types
      </LinkTo>
    </li>
    <li>
      <LinkTo @route='games.filter-groups' @model={{@model.game.shortCode}}>
        Filter groups
      </LinkTo>
    </li>
    <li>
      <LinkTo @route='games.ladders' @model={{@model.game.shortCode}}>
        Ladders
      </LinkTo>
    </li>
  </ul>
</div>