{{page-title (concat "View forum - " @model.forum.name)}}

<div class='general-content-box forum-archive-menu'>
  <h1>
    <LinkTo @route='old-forum.index'>Forum Archive</LinkTo>
    » {{@model.forum.name}}
  </h1>
</div>

<div class='forum-archive-menu'>
  <PageNavigation
    @pageResults={{@model.topics}}
    @updatePageNumber={{this.updatePageNumber}}
  />
</div>

<table class='forum-archive-menu topics'>
  <thead>
    <tr>
      <th>Topic</th>
      <th>Author</th>
      <th>Last post</th>
    </tr>
  </thead>
  <tbody>
    {{#each @model.topics as |topic|}}
      <tr>
        <td>
          <img
            src='{{image-dir}}forum_old/topic_icons/{{topic.icon}}.gif'
            alt='Topic status: {{topic.icon}}'
            title='Topic status: {{topic.icon}}'
          />
          {{topic.titlePrefix}}
          <LinkTo @route='old-forum.view-topic' @query={{hash t=topic.id}}>
            {{! 3 curly braces means it's unescaped }}
            {{{topic.title}}}
          </LinkTo>
        </td>
        <td>
          {{topic.firstPost.posterName}}
        </td>
        <td>
          {{date-display topic.lastPost.time 'datetime'}}
          - {{topic.lastPost.posterName}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

<div class='forum-archive-menu'>
  <PageNavigation
    @pageResults={{@model.topics}}
    @updatePageNumber={{this.updatePageNumber}}
  />
</div>