{{page-title (concat "View topic - " @model.topic.title)}}

<div class='general-content-box forum-archive-menu'>
  <h3>
    <LinkTo @route='old-forum.index'>Forum Archive</LinkTo>
    »
    <LinkTo @route='old-forum.view-forum' @query={{hash f=@model.topic.forum.id}}>
      {{@model.topic.forum.name}}
    </LinkTo>
  </h3>
  <h2 class='topic-title'>{{@model.topic.titleDisplay}}</h2>
</div>

<div class='forum-archive-menu'>
  <PageNavigation
    @pageResults={{@model.posts}}
  />
</div>

{{#if @model.topic.hasPoll}}
  <div class='poll-container'>
    <h3>Poll: {{@model.topic.poll.titleDisplay}}</h3>

    {{#each @model.pollOptions as |pollOption|}}
      <div>
        {{pollOption.textDisplay}} - {{pollOption.voteCount}} vote(s)
      </div>
    {{/each}}
  </div>
{{/if}}

{{#each @model.posts as |post postIndex|}}
  {{! URL fragment target. Uses the fragment-target modifier. }}
  <span id='p{{post.id}}' {{fragment-target}} />

  <div class='post-container'>

    <div class='poster-info'>
      <div class='poster-name'>{{post.posterName}}</div>
      <div class='poster-title'>{{post.posterTitle}}</div>
    </div>

    <div class='post-header'>
      <span class='subject'>{{post.subjectDisplay}}</span>

      <span class='time'>{{date-display post.time 'datetime'}}</span>

      {{! Link which auto-scrolls to this post w/URL fragment }}
      <a href='#p{{post.id}}'>
        <span class='number'>#{{get this.topicPostNumbers postIndex}}</span>
      </a>
    </div>

    <div class='post-text'>
      {{post.textDisplay}}

      {{#if post.editTime}}
        <div class='edit-time'>
          Last edited: {{date-display post.editTime 'datetime'}}
        </div>
      {{/if}}
    </div>
  </div>
{{/each}}

<div class='forum-archive-menu'>
  <PageNavigation
    @pageResults={{@model.posts}}
  />
</div>