{{page-title (concat "View topic - " @model.topic.title)}}

<div class='general-content-box forum-archive-menu'>
  <h3>
    <LinkTo @route='old-forum.index'>Forum Archive</LinkTo>
    »
    <LinkTo @route='old-forum.view-forum' @query={{hash f=@model.topic.forum.id}}>
      {{@model.topic.forum.name}}
    </LinkTo>
  </h3>
  <h2 class='topic-title'>{{@model.topic.title}}</h2>
</div>

<div class='forum-archive-menu'>
  <PageNavigation
    @pageResults={{@model.posts}}
  />
</div>

{{#if @model.topic.hasPoll}}
  <div class='poll-container'>
    {{! 3 curly braces means it's unescaped }}
    <h3>Poll: {{{@model.topic.poll.title}}}</h3>

    {{#each @model.pollOptions as |pollOption|}}
      <div>
        {{{pollOption.text}}} - {{pollOption.voteCount}} vote(s)
      </div>
    {{/each}}
  </div>
{{/if}}

{{#each @model.posts as |post postIndex|}}
  {{! URL fragment target. Uses the fragment-target modifier. }}
  <a name="{{post.id}}" {{fragment-target}} />

  <div class='post-container'>

    <div class='poster-info'>
      <div class='poster-name'>{{post.posterName}}</div>
      <div class='poster-title'>{{post.posterTitle}}</div>
    </div>

    <div class='post-header'>
      {{! 3 curly braces means it's unescaped }}
      <span class='subject'>{{{post.subject}}}</span>

      <span class='time'>{{date-display post.time 'datetime'}}</span>

      {{! Link which auto-scrolls to this post w/URL fragment }}
      <a href='#{{post.id}}'>
        <span class='number'>#{{get this.topicPostNumbers postIndex}}</span>
      </a>
    </div>

    <div class='post-text'>
      {{! 3 curly braces means it's unescaped }}
      {{{post.text}}}
    </div>
  </div>
{{/each}}

<div class='forum-archive-menu'>
  <PageNavigation
    @pageResults={{@model.posts}}
  />
</div>