<table class="records-table">
  <thead>
    <tr>
      <th>Rank</th>
      <th>Player</th>
      <th>
        <LinkTo @route="chart-groups.show" @model={{@chartGroup.id}} @query={{hash mainChartId=this.mainChart.id}}>
          {{this.mainChart.name}}
        </LinkTo>
      </th>
      {{#each this.otherCharts as |chart|}}
        <th>
          <LinkTo @route="chart-groups.show" @model={{@chartGroup.id}} @query={{hash mainChartId=chart.id}}>
            {{chart.name}}
          </LinkTo>
        </th>
      {{/each}}
    </tr>
  </thead>

  <tbody>
    {{#each @recordRows as |recordRow|}}
      <tr>
        <td>{{recordRow.main_record.rank}}</td>
        <td>{{recordRow.main_record.player_username}}</td>
        <td>
          <LinkTo
            @route="charts.player-history"
            @models={{array this.mainChart.id recordRow.main_record.player_id}}>
            {{recordRow.main_record.value_display}}
          </LinkTo>
        </td>

        {{#each recordRow.other_records as |other_record index|}}
          {{#let (get this.otherCharts index) as |otherChart|}}
            <td>
              <LinkTo
                @route="charts.player-history"
                @models={{array otherChart.id other_record.player_id}}>
                {{other_record.value_display}}
              </LinkTo>
            </td>
          {{/let}}
        {{/each}}
      </tr>
    {{/each}}
  </tbody>
</table>
