{{#if @item.chart_group_id}}

  {{! Chart group }}

  {{#if @item.show_charts_together}}
    <LinkTo @route="chart-groups.show" @model={{@item.chart_group_id}}>
      {{@item.name}}
    </LinkTo>
  {{else}}
    {{@item.name}}
  {{/if}}

  <ul class="chart-group-listing">
    {{#each @item.items as |subItem|}}
      <li>
        <ChartGroupContents @item={{subItem}} @ladder={{@ladder}} />
      </li>
    {{/each}}
  </ul>

{{else}}

  {{! Chart }}

  <LinkTo
      @route="charts.show" @model={{@item.chart_id}}
      @query={{hash ladderId=@ladder.id}}>
    {{@item.name}}
  </LinkTo>

{{/if}}
