<ul class="plain-bullet-list">
  {{#each @filters as |filter|}}
    <li>
      <button type="button" class="show-filter-detail-button" {{on "click" (fn @updateSelectedFilterId filter.id)}}>
        {{filter.name}}
      </button>
    </li>
  {{/each}}
</ul>

<div>
  Search:
  <input type="text" name="filter-search"
      {{on "input" this.onSearchTextChange}} />
</div>

<PageNavigation
  @pageResults={{@filters}}
  @updatePageNumber={{@updatePageNumber}} />
