<ul class="plain-bullet-list">
  {{#each @filters as |filter|}}
    <li>
      <button type="button" class="show-filter-detail-button" {{on "click" (fn @updateSelectedFilterId filter.id)}}>
        {{filter.name}}
      </button>
    </li>
  {{/each}}
</ul>

<div>
  Search:
  <Input
    @type="text"
    @value={{this.searchText}}
    {{on "input" @updateSearchText}}
    class="search-input"
  />
</div>

<PageNavigation
  @pageResults={{@filters}}
  @pageNumber={{this.pageNumber}}
  @updatePageNumber={{@updatePageNumber}} />
