<form id="filter-apply-form">
  Add filter:

  {{! Choice of filter group }}
  <select name="filter-group"
      {{on "change" this.updateSelectedFilterGroup}} >
    <option value=""> ----- </option>
    {{#each @filterGroups as |filterGroup|}}
      <option value="{{filterGroup.id}}">
        {{filterGroup.name}}
      </option>
    {{/each}}
  </select>

  {{! Choice of is, is not, <=, >= }}
  <select name="modifier">
    {{#each this.modifierOptions as |modifierOption|}}
      <option value="{{modifierOption.code}}">
        {{modifierOption.display}}
      </option>
    {{/each}}
  </select>

  {{! Choice of filter from the filter group }}
  <FilterSelect
    @baseFieldId="filter"
    @label=""
    @controlInstance={{this.filterSelect}} />

  <button type="button" {{on "click" this.addFilter}}>Add</button>
</form>

<div>
  Added filters:
  {{#each this.addedFilterDisplays as |addedFilterDisplay index|}}
    <span class="applied-filter">{{addedFilterDisplay}}</span>
    <button
        type="button" class="applied-filter-remove-button"
        {{on "click" (fn this.removeFilter index)}}>
      x
    </button>
  {{/each}}
</div>
