{{#let @controlInstance.fieldName as |fieldName| }}

  {{#if @controlInstance.searchEnabled}}

    <label for="{{@fieldId}}-text">{{@label}}</label>
    <input type="text"
      list="{{@fieldId}}-datalist"
      name="{{fieldName}}-text"
      id="{{@fieldId}}-text"
      placeholder="Enter filter name"
      {{on "input" @controlInstance.onTextInput}} >
    <datalist name="{{fieldName}}" id="{{@fieldId}}-datalist">
      {{#each @controlInstance.options as |filter|}}
        <option value="{{filter.name}}" />
      {{/each}}
    </datalist>
    <input type="hidden" name="{{fieldName}}" id="{{@fieldId}}">

  {{else}}

    <label for="{{@fieldId}}">{{@label}}</label>
    <select name="{{fieldName}}" id="{{@fieldId}}">
      {{#each @controlInstance.options as |filter|}}
        <option value="{{filter.id}}">
          {{filter.name}}
        </option>
      {{/each}}
    </select>

  {{/if}}

{{/let}}
