{{#if this.hasMultiplePages}}
  <div class='page-links'>
    Page

    {{#if this.shouldShowFirstPageLink}}
      <button type='button' {{on 'click' (fn @updatePageNumber 1)}}> 1 </button>
    {{/if}}

    {{#if this.hasGapBetweenFirstAndPrevPage}}
      ...
    {{/if}}

    {{#if this.shouldShowPrevPageLink}}
      <button type='button' {{on 'click' (fn @updatePageNumber this.prevPage)}}>
        {{this.prevPage}}
      </button>
    {{/if}}

    {{this.meta.page}}

    {{#if this.shouldShowNextPageLink}}
      <button type='button' {{on 'click' (fn @updatePageNumber this.nextPage)}}>
        {{this.nextPage}}
      </button>
    {{/if}}

    {{#if this.hasGapBetweenLastAndNextPage}}
      ...
    {{/if}}

    {{#if this.shouldShowLastPageLink}}
      <button type='button' {{on 'click' (fn @updatePageNumber this.lastPage)}}>
        {{this.lastPage}}
      </button>
    {{/if}}
  </div>

  <div class='page-results-counts'>
    {{this.meta.count}} results
  </div>
{{/if}}