{{#if this.hasMultiplePages}}
  <div class='page-links'>
    Page

    {{#if this.shouldShowFirstPageLink}}
      <button type='button' {{on 'click' (fn @updatePageNumber 1)}}> 1 </button>
    {{/if}}

    {{#if this.hasGapBetweenFirstAndPrevPages}}
      ...
    {{/if}}

    {{#each this.prevPages as |page|}}
      <button type='button' {{on 'click' (fn @updatePageNumber page)}}>
        {{page}}
      </button>
    {{/each}}

    {{this.meta.page}}

    {{#each this.nextPages as |page|}}
      <button type='button' {{on 'click' (fn @updatePageNumber page)}}>
        {{page}}
      </button>
    {{/each}}

    {{#if this.hasGapBetweenLastAndNextPages}}
      ...
    {{/if}}

    {{#if this.shouldShowLastPageLink}}
      <button type='button' {{on 'click' (fn @updatePageNumber this.lastPage)}}>
        {{this.lastPage}}
      </button>
    {{/if}}
  </div>

  {{#if @resultsNoun}}
    <div class='page-results-counts'>
      {{this.meta.count}} {{@resultsNoun}}
    </div>
  {{/if}}
{{/if}}