{{#if this.hasMultiplePages}}
  <div class='page-links'>
    Page

    {{#if this.shouldShowFirstPageLink}}
      <PageNavigationOnePage
        @page={{1}}
        @updatePage={{@updatePageNumber}} />
    {{/if}}

    {{#if this.hasGapBetweenFirstAndPrevPages}}
      ...
    {{/if}}

    {{#each this.prevPages as |page|}}
      <PageNavigationOnePage
        @page={{page}}
        @updatePage={{@updatePageNumber}} />
    {{/each}}

    {{this.meta.page}}

    {{#each this.nextPages as |page|}}
      <PageNavigationOnePage
        @page={{page}}
        @updatePage={{@updatePageNumber}} />
    {{/each}}

    {{#if this.hasGapBetweenLastAndNextPages}}
      ...
    {{/if}}

    {{#if this.shouldShowLastPageLink}}
      <PageNavigationOnePage
        @page={{this.lastPage}}
        @updatePage={{@updatePageNumber}} />
    {{/if}}
  </div>

  {{#if @resultsNoun}}
    <div class='page-results-counts'>
      {{this.meta.count}} {{@resultsNoun}}
    </div>
  {{/if}}
{{/if}}