<h1>
  <LinkTo @route="games.ladders" @model={{@model.ladder.game.id}}>
    {{@model.ladder.game.name}}
  </LinkTo>
  - {{@model.ladder.name}} Ladder
</h1>

<ul>
  <li>Kind: {{@model.ladder.kind}}</li>
  <li>Filters: {{@model.ladder.filterSpec}}</li>
  <li>Applies to: {{@model.ladder.chartGroup.name}}</li>
</ul>

<div class="error-message" id="ladder-delete-error"></div>
{{! TODO: Make this link debug-only. }}
<button type="button" {{on "click" this.deleteLadder}}> Delete ladder </button>
