<h1>
  <LinkTo @route="games.show" @model={{@model.ladder.game.id}}>
    {{@model.ladder.game.name}}
  </LinkTo>
  - {{@model.ladder.name}} Ladder
</h1>

<ul>
  <li>Kind: {{@model.ladder.kind}}</li>
  <li>Filters: {{@model.ladder.filterSpec}}</li>
  <li>Applies to: {{@model.ladder.chartGroup.name}}</li>
</ul>
