<h1><LinkTo @route="games.ladders" @model={{@model.game}}> {{@model.game.name}} </LinkTo> - {{@model.name}} Ladder</h1>

<ul>
  <li>Kind: {{@model.kind}}</li>
  <li>Filters: {{@model.filterSpec}}</li>
  <li>Applies to: {{@model.chartGroup.name}}</li>
</ul>

{{!-- TODO: This button would go better on a 'ladder edit' page, not on the show page. --}}
<button type="button" class="delete-button" {{action "deleteLadder"}}> Delete ladder </button>
