{{page-title (concat @model.ladder.name ' ladder :: Rankings')}}

<div class='general-content-box'>
  <LinkTo @route='games.show' @model={{@model.ladder.game.shortCode}}>
    <h2>{{@model.ladder.game.name}}</h2>
  </LinkTo>
  <h1>{{@model.ladder.name}} Ladder</h1>

  <div class='small-section'>
    Ladder filters:
    <FilterSpecDisplay
      @filterSpec={{@model.ladder.filterSpec}}
      @filterObjs={{@model.ladderFilterObjs}}
    />
  </div>
</div>

<table class='data-table'>
  <thead>
    <tr>
      <th>Rank</th>
      <th>Player</th>
      <th>Last active</th>
      <th>Avg finish</th>
      <th>SR/PR</th>
      {{#each this.firstEntry.totals as |totalHash|}}
        <th>{{get totalHash 'name'}}</th>
      {{/each}}
    </tr>
  </thead>

  <tbody>
    {{#each @model.ranking as |entry|}}
      <tr>
        <td>{{entry.rank}}</td>
        <td>{{entry.player_username}}</td>
        <td>{{entry.last_active_display}}</td>
        <td>{{entry.af_display}}</td>
        <td>{{entry.srpr_display}}</td>
        {{#each entry.totals as |totalHash|}}
          <td>{{totalHash.value}}</td>
        {{/each}}
      </tr>
    {{/each}}
  </tbody>
</table>