{{page-title (concat @model.player.username "'s record history") }}

<h2>
  <LinkTo
      @route="charts.show" @model={{@model.chart.id}}
      @query={{this.chartLinkQueryParams}} >
    {{@model.chart.chartGroup.name}} - {{@model.chart.name}}
  </LinkTo>
</h2>
<h1>{{@model.player.username}}'s record history</h1>

<LadderAndFilterControls
    @extraFiltersString={{this.appliedFiltersString}}
    @manager={{this.ladderAndFilterControls}} />

<div>
  <input
      type="checkbox" name="show-all-filter-groups"
      id="show-all-filter-groups-checkbox"
      {{on "change" this.updateShowAllFilterGroups}} />
  <label for="show-all-filter-groups-checkbox">Show all filter groups</label>
</div>

<table class="records-table">
  <thead>
    <tr>
      <th>Record</th>
      <th>Date</th>
      {{#each this.shownFilterGroups as |filterGroup|}}
        <th>{{filterGroup.name}}</th>
      {{/each}}
    </tr>
  </thead>

  <tbody>
    {{#each @model.records as |record|}}
      <tr class={{if record.is_improvement "" "non-personal-best"}}>
        <td>
          {{#if this.devMode}}
            <LinkTo @route="records.show" @model={{record.id}}>
              {{record.value_display}}
            </LinkTo>
          {{else}}
            {{record.value_display}}
          {{/if}}
        </td>
        <td>{{moment-format record.date_achieved "YYYY-MM-DD HH:mm"}}</td>

        {{#each this.shownFilterGroups as |filterGroup|}}
          <td>
            {{get (find-filter-of-group record.filters filterGroup.id) "name"}}
          </td>
        {{/each}}
      </tr>
    {{/each}}
  </tbody>
</table>
