<h1>{{@model.player.username}}'s history for {{@model.chart.chartGroup.name}} - {{@model.chart.name}}</h1>

<div>
  <Input
    @type="checkbox" @checked={{showAllFilterGroups}}
    name="showAllFilterGroups" id="showAllFilterGroupsCheckbox" />
  <label for="showAllFilterGroupsCheckbox">Show all filter groups</label>
</div>

<table class="records-table">
  <thead>
    <tr>
      <th>Record</th>
      <th>Date</th>
      {{#each shownFilterGroups as |filterGroup|}}
        <th>{{filterGroup.name}}</th>
      {{/each}}
    </tr>
  </thead>

  <tbody>
    {{#each @model.records as |record|}}
      <tr class={{if record.is_improvement "" "non-personal-best"}}>
        <td>
          <LinkTo @route="records.show" @model={{record}}>{{record.value_display}}</LinkTo>
        </td>
        <td>{{moment-format record.date_achieved "YYYY-MM-DD HH:mm"}}</td>

        {{#each shownFilterGroups as |filterGroup|}}
          <td>
            {{get (find-filter-of-group record.filters filterGroup.id) "name"}}
          </td>
        {{/each}}
      </tr>
    {{/each}}
  </tbody>
</table>
