<h1>Submit record for: {{#link-to "charts.show" model.chart.id}} {{model.chart.chartGroup.name}} - {{model.chart.name}}{{/link-to}}</h1>

<div class="user-select select-field-wrapper">
  <label>User</label>
  {{#power-select
    options=model.users
    selected=model.record.user
    onchange=(action (mut model.record.user))
    as |user|}}
    {{user.username}}
  {{/power-select}}
</div>

<div>
  <label>Value</label>
  {{!-- For now, this is just a simple integer field which doesn't take the chart type's record format into account. --}}
  {{input type="text" class="value-input" value=model.record.value placeholder="Example: 123"}}
</div>

<div>
  <label>Date achieved</label>
  {{date-field dateValue=model.record.achievedAt}}
</div>

{{record-filters-edit filterGroups=model.filterGroups filters=model.record.filters}}

<div><button type="submit" {{action "saveRecord"}}>Submit record</button></div>
