<h1>Submit record for: <LinkTo @route="charts.show" @model={{@model.chart.id}}> {{@model.chart.chartGroup.name}} - {{@model.chart.name}}</LinkTo></h1>

<div class="player-select select-field-wrapper">
  <label>Player</label>
  {{!-- TODO: Add a search box here --}}
  <PowerSelect
    @options={{@model.players}}
    @selected={{@model.record.player}}
    @onChange={{action (mut @model.record.player)}}
    @placeholder="Not selected"
    @matchTriggerWidth={{false}}
    as |player|>
    {{player.username}}
  </PowerSelect>
</div>

<div>
  <label for="new-record-value">Value</label>
  {{!-- For now, this is just a simple integer field which doesn't take the chart type's record format into account. --}}
  <Input
    @type="text" @value={{@model.record.value}}
    class="value-input" id="new-record-value" placeholder="Example: 123" />
</div>

<div>
  <label>Date achieved</label>
  <DateField
    @updateDateValue={{action (mut @model.record.dateAchieved)}} />
</div>

<RecordFiltersEdit
  @filterGroups={{@model.filterGroups}}
  @filters={{@model.record.filters}}
  @selectFilter={{action (select-filter-for-record @model.record)}} />

<div><button type="submit" {{action "saveRecord"}}>Submit record</button></div>
