<h2>{{@model.ladder.game.name}} - {{@model.ladder.name}}</h2>
<h1>{{this.chartGroup.name}} - {{@model.chart.name}}</h1>

<div class="equal-two-column-container">

  <div id="filter-controls">

    <form id="switch-ladder-form">
      Change ladder:
      <select name="ladder"
          {{on "change" this.goToLadder}} >
        {{#each @model.chartLadders as |ladder|}}
          <option
              value="{{ladder.id}}"
              selected={{if (eq ladder.id this.ladderId) "selected"}}
          >
            {{ladder.name}}
          </option>
        {{/each}}
      </select>
    </form>

    <div>
      Ladder's filters:
      {{#each this.ladderFilterDisplays as |display|}}
        <span class="applied-filter">{{display}}</span>
      {{else}}
        (None)
      {{/each}}
    </div>

    <FilterApplyForm
      @filterGroups={{@model.filterGroups}}
      @appliedFilterObjs={{@model.appliedFilterObjs}}
      @appliedFiltersString={{this.appliedFiltersString}}
      @updateAppliedFiltersString={{action (mut this.appliedFiltersString)}}
      @controllerGetFilterOptions={{this.getFilterOptions}} />

    <div>
      <input
          type="checkbox" name="show-all-filter-groups"
          id="show-all-filter-groups-checkbox"
          {{on "change" this.updateShowAllFilterGroups}} />
      <label for="show-all-filter-groups-checkbox">Show all filter groups</label>
    </div>

  </div>

  <div id="chart-related-navigation">

    <div><LinkTo @route="charts.record-new" @model={{@model.chart.id}}>Submit a record</LinkTo></div>

    <div>
      <LinkTo @route="charts.top-record-history" @model={{@model.chart.id}}>
        View top record history
      </LinkTo>
    </div>

    <hr class="short">

    <div>
      <LinkTo @route="ladders.charts" @model={{@model.ladder.id}}>
        ⮝⮝ All charts for {{@model.ladder.name}} ladder
      </LinkTo>
    </div>

    {{#if this.chartGroup.showChartsTogether}}
      <div>
        {{#each this.currentCgCharts as |chart|}}
          {{#if (eq @model.chart.id chart.id)}}
            {{chart.name}} |
          {{else}}
            <LinkTo
                @route="charts.show" @model={{chart.id}}
                @query={{hash ladderId=this.ladderId filters=this.appliedFiltersString}}>
              {{chart.name}}
            </LinkTo>
            |
          {{/if}}
        {{/each}}
      </div>
    {{/if}}

    <form id="chart-navigation-form">

      {{#if this.chartNavigationPrevious}}
        <LinkTo
            @route="charts.show" @model={{this.chartNavigationPrevious.chart.id}}
            @query={{this.chartLinkQueryParams}}
            title={{this.chartNavigationPrevious.display}}>
          ⮜
        </LinkTo>
      {{/if}}

      <select name="chart"
          {{on "change" this.goToChart}} >
        {{#each this.chartNavigationChoices as |navChoice|}}
          <option
              value="{{navChoice.chart.id}}"
              {{! TODO: After changing charts once, the initial selection fails to get set. }}
              selected={{if (eq navChoice.chart.id @model.chart.id) "selected"}}
          >
            {{navChoice.display}}
          </option>
        {{/each}}
      </select>

      {{#if this.chartNavigationNext}}
        <LinkTo
            @route="charts.show" @model={{this.chartNavigationNext.chart.id}}
            @query={{this.chartLinkQueryParams}}
            title={{this.chartNavigationNext.display}}>
          ⮞
        </LinkTo>
      {{/if}}

    </form>

  </div>

</div>

<table class="records-table">
  <thead>
    <tr>
      <th>Rank</th>
      <th>Player</th>
      <th>Record</th>
      {{#each this.shownFilterGroups as |filterGroup|}}
        <th>{{filterGroup.name}}</th>
      {{/each}}
    </tr>
  </thead>

  <tbody>
    {{#each @model.records as |record|}}
      <tr>
        <td>{{record.rank}}</td>
        <td>{{record.player_username}}</td>
        <td>
          <LinkTo @route="charts.player-history" @models={{array @model.chart.id record.player_id}}>
            {{record.value_display}}
          </LinkTo>
        </td>

        {{#each this.shownFilterGroups as |filterGroup|}}
          <td>
            {{get (find-filter-of-group record.filters filterGroup.id) "name"}}
          </td>
        {{/each}}
      </tr>
    {{/each}}
  </tbody>
</table>
