{{#link-to 'charts.record-new' model.id}}Submit a record{{/link-to}}

{{#if model.chartGroup.show_charts_together}}
  <h1>{{model.chartGroup.name}}</h1>
  {{chart-ranking-group mainChart=model}}
{{else}}
  <h1>{{model.chartGroup.name}} - {{model.name}}</h1>
  {{chart-ranking-single chart=model}}
{{/if}}
