<h1>{{@model.chart.chartGroup.name}} - {{@model.chart.name}}</h1>

<div><LinkTo @route="charts.record-new" @model={{@model.chart}}>Submit a record</LinkTo></div>

{{#if @model.chart.chartGroup.showChartsTogether}}
  <div>
    <LinkTo @route="chart-groups.show" @model={{@model.chart.chartGroup.id}} @query={{hash mainChartId=@model.chart.id}}>
      View all charts for {{@model.chart.chartGroup.name}}
    </LinkTo>
  </div>
{{/if}}

<div>
  <LinkTo @route="charts.top-record-history" @model={{@model.chart}}>
    View top record history
  </LinkTo>
</div>

<div>
  <LinkTo @route="chart-types.filter-groups" @model={{@model.chart.chartType}}>
    Edit filter groups
  </LinkTo>
</div>


<ChartRankingSingle
  @chart={{@model.chart}} @records={{@model.records}}
  @filterGroups={{@model.filterGroups}}
  @appliedFiltersString={{appliedFiltersString}}
  @updateAppliedFiltersString={{action (mut appliedFiltersString)}} />
