<h1>Top record history for {{model.chart.chartGroup.name}} - {{model.chart.name}}</h1>

<table class="records-table">
  <tr><th>Player</th><th>Record</th><th>Date</th></tr>
  {{#each model.records as |record|}}
  <tr>
    <td>{{record.user.username}}</td>
    <td>{{record.valueDisplay}}</td>
    <td>{{moment-format record.achievedAt 'YYYY-MM-DD HH:mm'}}</td>
  </tr>
  {{/each}}
</table>
