<h1>Top record history for {{model.chart.chartGroup.name}} - {{model.chart.name}}</h1>

{{filter-groups-toggle filterGroups=model.filterGroups onToggleUpdate=(action "onToggleUpdate")}}

<table class="records-table">
  <thead>
    <tr>
      <th>Player</th>
      <th>Record</th>
      <th>Date</th>
      {{#each shownFilterGroups as |filterGroup|}}
        <th>{{filterGroup.name}}</th>
      {{/each}}
    </tr>
  </thead>

  <tbody>
    {{#each model.records as |record|}}
      <tr>
        <td>{{record.user.username}}</td>
        <td>{{record.valueDisplay}}</td>
        <td>{{moment-format record.achievedAt "YYYY-MM-DD HH:mm"}}</td>

        {{#each shownFilterGroups as |filterGroup|}}
          <td>
            {{get (find-filter-of-group record.filters filterGroup.id) "name"}}
          </td>
        {{/each}}
      </tr>
    {{/each}}
  </tbody>
</table>
