<h1>
  Edit record for:
  <LinkTo @route='charts.show' @model={{@model.record.chart.id}}>
    {{@model.record.chart.chartGroup.name}}
    -
    {{@model.record.chart.name}}
  </LinkTo>
</h1>

<form id='record-form'>

  <div>Player: {{@model.record.player.username}}</div>
  <div>Value: {{@model.record.value}}</div>

  <div>
    <label for='date-achieved'>Date achieved</label>
    <DateField
      @fieldId='date-achieved'
      @initialDateValue={{@model.record.dateAchieved}}
      @updateDateValue={{this.updateDateValue}}
    />
  </div>

  <RecordFiltersEdit
    @filterGroups={{@model.filterGroups}}
    @selectedFilters={{this.selectedFiltersByGroup}}
    @filterSelectControlInstances={{this.filterSelects}}
  />

  <div class='error-message'></div>

  <div><button type='button' {{on 'click' this.saveRecordEdits}}>Save edits</button></div>

</form>