<h1>{{game.name}} - {{@model.chartType.name}} (Chart type) - Filter groups</h1>

{{#if @model.chartTypeFilterGroups}}

  <table class="chart-type-fgs">
    <thead>
      <tr>
        <th></th>
        <th>Order</th>
        <th>Name</th>
        <th>Show by default on rankings?</th>
      </tr>
    </thead>

    <tbody>
      {{#each @model.chartTypeFilterGroups as |ctfg|}}
        <tr>
          <td>
            <button type="button" class="unlink-fg-button" {{action "unlinkFilterGroup" ctfg}}> - </button>
          </td>
          <td>
            <Input
              @type="text" @value={{ctfg.orderInChartType}}
              onchange={{action "onOrderChange" ctfg}}
              size="2" class="order-input" />
          </td>
          <td>
            <LinkTo @route="filter-groups.show" @model={{ctfg.filterGroup.id}}>
              {{ctfg.filterGroup.name}}
            </LinkTo>
          </td>
          <td>
            <Input
              @type="checkbox" @checked={{ctfg.showByDefault}}
              onclick={{action (action "onShowChange" ctfg) value="target.checked"}}
              class="show-input" />
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>

{{else}}

  (No filter groups yet)

{{/if}}


{{#if otherFilterGroups}}
  <h2>Other filter groups in this game</h2>

  <ul class="game-fgs">
    {{#each otherFilterGroups as |filterGroup|}}
      <li>
        <LinkTo @route="filter-groups.show" @model={{filterGroup.id}}>
          {{filterGroup.name}}
        </LinkTo>
        <button type="button" class="link-fg-button" {{action "linkFilterGroup" filterGroup}}> + </button>
      </li>
    {{/each}}
  </ul>
{{/if}}


{{#if @model.orphanedFilterGroups}}
  <h2>Orphaned filter groups</h2>

  <ul class="orphaned-fgs">
    {{#each @model.orphanedFilterGroups as |filterGroup|}}
      <li>
        <LinkTo @route="filter-groups.show" @model={{filterGroup.id}}>
          {{filterGroup.name}}
        </LinkTo>
        <button type="button" class="link-fg-button" {{action "linkFilterGroup" filterGroup}}> + </button>
      </li>
    {{/each}}
  </ul>
{{/if}}


<h2>Create new filter group</h2>

<div>
  <label for="new-filter-group-name">Name</label>
  <Input
    @type="text" @value={{@model.newFilterGroup.name}}
    class="name-input" id="new-filter-group-name" />
</div>

<div class="kind-select">
  <label>Kind</label>
  <PowerSelect
    @options={{@model.newFilterGroup.KIND_OPTIONS}}
    @selected={{@model.newFilterGroup.kind}}
    @onChange={{action (mut @model.newFilterGroup.kind)}}
    @placeholder="Not selected"
    as |option|>
    {{option}}
  </PowerSelect>
</div>

<div>
  <label for="new-filter-group-description">Description</label>
  <Input
    @type="text" @value={{@model.newFilterGroup.description}}
    class="description-input" id="new-filter-group-description" />
</div>

<div>
  <button type="button" class="create-button" {{action "createFilterGroup"}}> Create </button>
</div>
