<h1>{{@model.chartGroup.game.name}} - {{@model.chartGroup.name}}</h1>

{{#if @model.chartGroup.showChartsTogether}}
  <ChartRankingGroup
    @chartGroup={{@model.chartGroup}}
    @mainChartIdQueryArg={{this.mainChartId}}
    @recordRows={{@model.recordRows}} />
{{else}}
  <ChartGroupContents @cg={{@model.chartGroup}} @root={{true}} />
{{/if}}
