<h1>{{@model.filterGroup.name}} (filter group)</h1>

<div>Kind: {{@model.filterGroup.kind}}</div>

<div>Description: {{@model.filterGroup.description}}</div>

<div>
  Used by these chart types:
  <ul class="chart-type-list plain-bullet-list">
    {{#each @model.chartTypes as |chartType|}}
      <li>
        {{chartType.name}}
      </li>
    {{/each}}
  </ul>
</div>

<hr>

<div class="filter-section">
  <div class="filter-list choosable-filter-list">
    Choosable Filters:
    <FilterList
      @filters={{@model.filtersChoosable}}
      @updatePageNumber={{action this.updateChoosablePage}}
      @updateSearchText={{action this.updateChoosableSearchText}}
      @updateSelectedFilterId={{action (mut this.selectedFilterId)}} />
  </div>

  {{#if (eq @model.filterGroup.kind "select")}}
    <div class="filter-list implied-filter-list">
      Implied Filters:
      <FilterList
        @filters={{@model.filtersImplied}}
        @updatePageNumber={{action this.updateImpliedPage}}
        @updateSearchText={{action this.updateImpliedSearchText}}
        @updateSelectedFilterId={{action (mut this.selectedFilterId)}} />
    </div>
  {{/if}}

  <div class="filter-detail-section">
    {{#if this.selectedFilterId}}
      <FilterDetail
        @filter={{@model.selectedFilter}}
        @incomingImplications={{@model.incomingImplications}}
        @incomingImplicationsPageNumber={{this.incomingImplicationsPageNumber}}
        @outgoingImplications={{@model.outgoingImplications}}
        @outgoingImplicationsPageNumber={{this.outgoingImplicationsPageNumber}}
        @sampleRecords={{@model.sampleRecordsOfFilter}}

        @updateFilterId={{action (mut this.selectedFilterId)}}
        @updateIncomingImplicationsPageNumber={{action (mut this.incomingImplicationsPageNumber)}}
        @updateOutgoingImplicationsPageNumber={{action (mut this.outgoingImplicationsPageNumber)}}

        @editFilter={{action "editFilter"}}
        @deleteFilter={{action "deleteFilter"}}

        @implicationCreateError={{this.implicationCreateError}}
        @newImplicationTargetFilter={{this.newImplicationTargetFilter}}
        @updateNewImplicationTargetFilter={{action (mut this.newImplicationTargetFilter)}}
        @createImplication={{action "createImplication"}}

        @implicationDeleteError={{this.implicationDeleteError}}
        @implicationDeletionTargetFilter={{this.implicationDeletionTargetFilter}}
        @doDeleteImplicationNameSearch={{action (mut this.deleteImplicationNameSearch)}}
        @updateImplicationDeletionTargetFilter={{action (mut this.implicationDeletionTargetFilter)}}
        @deleteImplication={{action "deleteImplication"}} />
    {{/if}}
  </div>
</div>

<hr>

<div class="filter-create-form">
  <h3>New filter</h3>

  <div>
    <label for="new-filter-name">Name</label>
    <input type="text" name="name" id="new-filter-name" />
  </div>

  {{#if (eq @model.filterGroup.kind "select")}}
    <div class="type-field select-field-wrapper">
      <label>Type</label>
      <PowerSelect
        @options={{this.FILTER_USAGE_TYPE_OPTIONS}}
        @selected={{this.newFilterUsageType}}
        @onChange={{action (mut this.newFilterUsageType)}}
        @placeholder="Not selected"
        @matchTriggerWidth={{false}}
        as |option|>
        {{option}}
      </PowerSelect>
    </div>
  {{/if}}

  {{#if (eq @model.filterGroup.kind "numeric")}}
    <div>
      <label for="new-filter-numeric-value">Numeric value</label>
      <input
        type="number" name="numeric-value" id="new-filter-numeric-value" />
    </div>
  {{/if}}

  <div class="error-message" id="filter-create-error"></div>

  <div>
    <button type="button" class="create-button" {{action "createFilter"}}> Create filter </button>
  </div>
</div>
