<h1>{{@model.filterGroup.name}} (filter group)</h1>

<div>Kind: {{@model.filterGroup.kind}}</div>

<div>Description: {{@model.filterGroup.description}}</div>

<div>
  Used by these chart types:
  <ul class="chart-type-list plain-bullet-list">
    {{#each @model.chartTypes as |chartType|}}
      <li>
        {{chartType.name}}
      </li>
    {{/each}}
  </ul>
</div>

<hr>

<div class="filter-section">
  <div class="filter-list choosable-filter-list">
    Choosable Filters:
    <FilterList
      @filters={{@model.filtersChoosable}}
      @updatePageNumber={{action this.updateChoosablePage}}
      @updateSearchText={{action this.updateChoosableSearchText}}
      @updateSelectedFilterId={{action (mut selectedFilterId)}} />
  </div>

  {{#if (eq @model.filterGroup.kind "select")}}
    <div class="filter-list implied-filter-list">
      Implied Filters:
      <FilterList
        @filters={{@model.filtersImplied}}
        @updatePageNumber={{action this.updateImpliedPage}}
        @updateSearchText={{action this.updateImpliedSearchText}}
        @updateSelectedFilterId={{action (mut selectedFilterId)}} />
    </div>
  {{/if}}

  <div class="filter-detail-section">
    {{#if selectedFilterId}}
      <FilterDetail
        @filterId={{selectedFilterId}}
        @filterGroupId={{@model.filterGroup.id}} />
    {{/if}}
  </div>
</div>

<hr>

<div class="filter-create-form">
  <h3>New filter</h3>

  <div>
    <label for="new-filter-name">Name</label>
    <Input
      @type="text" @value={{@model.newFilter.name}}
      name="name" id="new-filter-name" />
  </div>

  {{#if (eq @model.filterGroup.kind "select")}}
    <div class="type-field select-field-wrapper">
      <label>Type</label>
      <PowerSelect
        @options={{usageTypeOptions}}
        @selected={{@model.newFilter.usageType}}
        @onChange={{action (mut @model.newFilter.usageType)}}
        @placeholder="Not selected"
        @matchTriggerWidth={{false}}
        as |option|>
        {{option}}
      </PowerSelect>
    </div>
  {{/if}}

  {{#if (eq @model.filterGroup.kind "numeric")}}
    <div>
      <label for="new-filter-numeric-value">Numeric value</label>
      <Input
        @type="number" @value={{@model.newFilter.numericValue}}
        name="numeric-value" id="new-filter-numeric-value" />
    </div>
  {{/if}}

  <div class="error-message">{{error-display filterCreateError}}</div>

  <div>
    <button type="button" class="create-button" {{action "createFilter"}}> Create filter </button>
  </div>
</div>
