<h1>{{@model.filterGroup.name}} (filter group)</h1>

<div>Kind: {{@model.filterGroup.kind}}</div>

<div>Description: {{@model.filterGroup.description}}</div>

<div>
  Used by these chart types:
  <ul class="chart-type-list plain-bullet-list">
    {{#each @model.chartTypes as |chartType|}}
      <li>
        {{chartType.name}}
      </li>
    {{/each}}
  </ul>
</div>

<hr>

<div class="filter-section">
  <div class="filter-list choosable-filter-list">
    Choosable Filters:
    <FilterList
      @filters={{@model.filtersChoosable}}
      @updatePageNumber={{action this.updateChoosablePage}}
      @updateSearchText={{action this.updateChoosableSearchText}}
      @updateSelectedFilterId={{action this.updateSelectedFilterId}} />
  </div>

  {{#if (eq @model.filterGroup.kind "select")}}
    <div class="filter-list implied-filter-list">
      Implied Filters:
      <FilterList
        @filters={{@model.filtersImplied}}
        @updatePageNumber={{action this.updateImpliedPage}}
        @updateSearchText={{action this.updateImpliedSearchText}}
        @updateSelectedFilterId={{action this.updateSelectedFilterId}} />
    </div>
  {{/if}}

  <div class="filter-detail-section">
    {{#if this.selectedFilterId}}
      {{#let this.selectedFilter as |filter|}}

        <div class="filter-basic-fields">
          <h2>{{filter.name}}</h2>
          {{#if (eq filter.filterGroup.kind "select")}}
            <div>
              Type: {{filter.usageType}}
            </div>
          {{/if}}
          {{#if (eq filter.filterGroup.kind "numeric")}}
            <div>
              Numeric value: {{filter.numericValue}}
            </div>
          {{/if}}

          <div>
            <LinkTo @route="filters.edit" @model={{filter.id}}>Edit details</LinkTo>
          </div>
        </div>


        {{#if (eq filter.usageType "choosable")}}
          <div class="record-count">Used by {{this.recordCount}} records</div>
        {{else}}
          <div class="record-count">Applies to {{this.recordCount}} records</div>
        {{/if}}

        <div class="error-message" id="filter-delete-error"></div>
        <div>
          <button type="button" class="filter-delete-button" {{action "deleteFilter"}}> Delete this filter </button>
        </div>

        {{#if (eq filter.filterGroup.kind "select")}}
          <hr>

          {{#if (eq filter.usageType "implied")}}
            <div class="implications-list">
              <h3>Implied by</h3>

              {{#if (eq this.implications.length 0)}}
                (None)
              {{else}}
                {{#each this.implications as |implyingFilter|}}
                  <button type="button" class="show-filter-detail-button" {{action this.updateSelectedFilterId implyingFilter.id}}>
                    {{implyingFilter.name}}
                  </button>
                {{/each}}
                <PageNavigation
                  @pageResults={{this.implications}}
                  @pageNumber={{this.implicationsPageNumber}}
                  @updatePageNumber={{action this.updateImplicationsPageNumber}} />
              {{/if}}
            </div>
          {{/if}}

          {{#if (eq filter.usageType "choosable")}}
            <div class="outgoing-implications-list">
              <h3>Implies</h3>

              {{#if (eq this.implications.length 0)}}
                (None)
              {{else}}
                {{#each this.implications as |impliedFilter|}}
                  <button type="button" class="show-filter-detail-button" {{action this.updateSelectedFilterId impliedFilter.id}}>
                    {{impliedFilter.name}}
                  </button>
                {{/each}}
                <PageNavigation
                  @pageResults={{this.implications}}
                  @pageNumber={{this.implicationsPageNumber}}
                  @updatePageNumber={{action this.updateImplicationsPageNumber}} />
              {{/if}}
            </div>
          {{/if}}

          <div>
            <LinkTo @route="filters.add-implication" @model={{filter.id}}>Add an outgoing implication</LinkTo>
          </div>

          <div>
            <LinkTo @route="filters.delete-implication" @model={{filter.id}}>Delete an outgoing implication</LinkTo>
          </div>

        {{/if}}  {{! filterGroup.kind == select }}

      {{/let}}
    {{/if}}
  </div>
</div>

<hr>

<h3>New filter</h3>

<form id="filter-create-form">
  <div>
    <label for="new-filter-name">Name</label>
    <input type="text" name="name" id="new-filter-name" />
  </div>

  {{#if (eq @model.filterGroup.kind "select")}}
    <div class="select-field-wrapper">
      <label for="new-filter-usage-type">Type</label>
      <select name="usage-type" id="new-filter-usage-type"
       placeholder="Not selected">
        {{#each this.FILTER_USAGE_TYPE_OPTIONS as |usageTypeOption|}}
          <option value="{{usageTypeOption}}">
            {{usageTypeOption}}
          </option>
        {{/each}}
      </select>
    </div>
  {{/if}}

  {{#if (eq @model.filterGroup.kind "numeric")}}
    <div>
      <label for="new-filter-numeric-value">Numeric value</label>
      <input type="number" name="numeric-value" id="new-filter-numeric-value" />
    </div>
  {{/if}}

  <div class="error-message"></div>

  <div>
    <button type="button" {{action "createFilter"}}>
      Create filter
    </button>
  </div>
</form>
