<h1>{{@model.filterGroup.name}} (filter group)</h1>

<div>Kind: {{@model.filterGroup.kind}}</div>

<div>Description: {{@model.filterGroup.description}}</div>

<div>
  Used by these chart types:
  <ul class="chart-type-list plain-bullet-list">
    {{#each @model.chartTypes as |chartType|}}
      <li>
        {{chartType.name}}
      </li>
    {{/each}}
  </ul>
</div>

<hr>

<div class="filter-section">
  <div class="filter-list choosable-filter-list">
    Choosable Filters:
    <FilterList
      @filters={{@model.filtersChoosable}}
      @updatePageNumber={{action this.updateChoosablePage}}
      @updateSearchText={{action this.updateChoosableSearchText}}
      @updateSelectedFilterId={{action (mut this.selectedFilterId)}} />
  </div>

  {{#if (eq @model.filterGroup.kind "select")}}
    <div class="filter-list implied-filter-list">
      Implied Filters:
      <FilterList
        @filters={{@model.filtersImplied}}
        @updatePageNumber={{action this.updateImpliedPage}}
        @updateSearchText={{action this.updateImpliedSearchText}}
        @updateSelectedFilterId={{action (mut this.selectedFilterId)}} />
    </div>
  {{/if}}

  <div class="filter-detail-section">
    {{#if this.selectedFilterId}}
      {{#let @model.selectedFilter as |filter|}}

        <div class="filter-basic-fields {{if this.isEditing "hidden"}}">
          <h2>{{filter.name}}</h2>
          {{#if (eq filter.filterGroup.kind "select")}}
            <div>
              Type: {{filter.usageType}}
            </div>
          {{/if}}
          {{#if (eq filter.filterGroup.kind "numeric")}}
            <div>
              Numeric value: {{filter.numericValue}}
            </div>
          {{/if}}

          <div>
            <button type="button" class="start-editing-filter-button" {{action "startEditingFilter"}}> Edit details </button>
          </div>
        </div>

        <div class="filter-edit-form {{unless this.isEditing "hidden"}}">
          <div>
            <label for="edit-filter-name">Name</label>
            <input
              type="text" name="name" id="edit-filter-name" />
          </div>
          {{#if (eq filter.filterGroup.kind "numeric")}}
            <div>
              <label for="edit-filter-numeric-value">Numeric value</label>
              <input
                type="number" name="numeric-value" id="edit-filter-numeric-value" />
            </div>
          {{/if}}

          <div class="error-message" id="filter-edit-error"></div>

          <div>
            <button type="button" class="save-button" {{action "saveFilterEdits"}}> Save edits </button>
            <button type="button" class="cancel-button" {{action "stopEditingFilter"}}> Cancel </button>
          </div>
        </div>


        {{#if (eq filter.usageType "choosable")}}
          <div class="record-count">Used by {{this.recordCount}} records</div>
        {{else}}
          <div class="record-count">Applies to {{this.recordCount}} records</div>
        {{/if}}

        <div class="error-message" id="filter-delete-error"></div>
        <div>
          <button type="button" class="filter-delete-button" {{action "deleteFilter"}}> Delete this filter </button>
        </div>

        {{#if (eq filter.filterGroup.kind "select")}}
          <hr>

          {{#if (eq filter.usageType "implied")}}
            <div class="incoming-implications-list">
              <h3>Implied by</h3>

              {{#if (eq @model.incomingImplications.length 0)}}
                (None)
              {{else}}
                {{#each @model.incomingImplications as |implyingFilter|}}
                  <button type="button" class="show-filter-detail-button" {{action "selectFilter" implyingFilter.id}}>
                    {{implyingFilter.name}}
                  </button>
                {{/each}}
                <PageNavigation
                  @pageResults={{@model.incomingImplications}}
                  @pageNumber={{this.incomingImplicationsPageNumber}}
                  @updatePageNumber={{action (mut this.incomingImplicationsPageNumber)}} />
              {{/if}}
            </div>
          {{/if}}

          {{#if (eq filter.usageType "choosable")}}
            <div class="outgoing-implications-list">
              <h3>Implies</h3>

              {{#if (eq @model.outgoingImplications.length 0)}}
                (None)
              {{else}}
                {{#each @model.outgoingImplications as |impliedFilter|}}
                  <button type="button" class="show-filter-detail-button" {{action (mut this.selectedFilterId) impliedFilter.id}}>
                    {{impliedFilter.name}}
                  </button>
                {{/each}}
                <PageNavigation
                  @pageResults={{@model.outgoingImplications}}
                  @pageNumber={{this.outgoingImplicationsPageNumber}}
                  @updatePageNumber={{action (mut this.outgoingImplicationsPageNumber)}} />
              {{/if}}
            </div>
          {{/if}}

          <div class="filter-implication-create-form">
            <h3>Create an outgoing implication</h3>

            <div class="target-filter-select select-field-wrapper">
              <FilterSelect
                @filterGroup={{filter.filterGroup}}
                @selected={{this.newImplicationTargetFilter}}
                @onFilterChange={{action (mut this.newImplicationTargetFilter)}} />
            </div>

            <div class="error-message" id="implication-create-error"></div>

            <div>
              <button type="button" class="create-button" {{action "createImplication"}}> Create implication </button>
            </div>
          </div>

          <div class="filter-implication-delete-form">
            <h3>Delete an outgoing implication</h3>

            <div class="implication-select select-field-wrapper">
              <PowerSelect
                {{! Initial choices }}
                @options={{@model.outgoingImplications}}
                @searchEnabled={{true}}
                {{! Action to run when typing in the search field; should return updated choices }}
                @search={{action (mut this.deleteImplicationNameSearch)}}
                @selected={{this.implicationDeletionTargetFilter}}
                {{! Action to run when selecting a choice }}
                @onChange={{action (mut this.implicationDeletionTargetFilter)}}
                @placeholder="Not selected"
                @matchTriggerWidth={{false}}
                as |option|>
                {{option.name}}
              </PowerSelect>
            </div>

            <div class="error-message" id="implication-delete-error"></div>

            <div>
              <button type="button" class="delete-button" {{action "deleteImplication"}}> Delete implication </button>
            </div>
          </div>
        {{/if}}  {{! filterGroup.kind == select }}

      {{/let}}
    {{/if}}
  </div>
</div>

<hr>

<div class="filter-create-form">
  <h3>New filter</h3>

  <div>
    <label for="new-filter-name">Name</label>
    <input type="text" name="name" id="new-filter-name" />
  </div>

  {{#if (eq @model.filterGroup.kind "select")}}
    <div class="type-field select-field-wrapper">
      <label>Type</label>
      <PowerSelect
        @options={{this.FILTER_USAGE_TYPE_OPTIONS}}
        @selected={{this.newFilterUsageType}}
        @onChange={{action (mut this.newFilterUsageType)}}
        @placeholder="Not selected"
        @matchTriggerWidth={{false}}
        as |option|>
        {{option}}
      </PowerSelect>
    </div>
  {{/if}}

  {{#if (eq @model.filterGroup.kind "numeric")}}
    <div>
      <label for="new-filter-numeric-value">Numeric value</label>
      <input
        type="number" name="numeric-value" id="new-filter-numeric-value" />
    </div>
  {{/if}}

  <div class="error-message" id="filter-create-error"></div>

  <div>
    <button type="button" class="create-button" {{action "createFilter"}}> Create filter </button>
  </div>
</div>
