{{page-title 'F-Zero Central'}}

<div class='container'>

  {{! This imagemap applies to the F-ZEROCENTRAL logo on the header image. }}
  <map name='fzerotop-map'>
    <area
      shape='rect'
      alt='Home Page'
      coords='0,0,350,38'
      href='{{this.indexUrl}}'
    />
  </map>

  <div id='fzc-header'>

    {{! Header image on left (logo + MV ships) }}
    <img
      class='logo-image'
      src='{{this.rootURL}}assets/images/header.png'
      alt='F-Zero Central'
      usemap='#fzerotop-map'
    />

    {{! FZC Next subtitle }}
    <div class='under-logo-subtitle'>
      <h2>FZC Next</h2>
      {{#if this.devMode}}
        <h2>Development mode</h2>
      {{else}}
        <h2>Demo version</h2>
      {{/if}}
    </div>

    {{! Links }}
    <div class='under-logo-links'>
      <LinkTo @route='old-forum.index'>» Forum Archive</LinkTo>
    </div>

    {{! Game selector }}
    <div id='game-selector'>
      <img src='{{this.rootURL}}assets/images/game_selector/choose_game.gif' alt="Choose game">
      <div>
        {{#each (array 'gx' 'mv') as |game|}}
          <LinkTo @route='games.show' @model={{game}}>
            <img
              src='{{this.rootURL}}assets/images/game_selector/unselected_{{game}}.gif'
              alt='{{game}}'
            />
          </LinkTo>
        {{/each}}
        {{#each (array 'climax' 'gpl' 'x' 'snes') as |game|}}
          <img
            src='{{this.rootURL}}assets/images/game_selector/unselected_{{game}}.gif'
            alt='{{game}}'
            class='unavailable-game'
          />
        {{/each}}
      </div>
    </div>

  </div>

  <div class='body'>
    {{outlet}}
  </div>

  <footer>

    <div>
      <div>
        <a href='{{this.indexUrl}}'>F-Zero Central Home</a>
      </div>

      <div id='social-icons'>
        <a href='https://twitter.com/fzerocentral'>
          <img
            src='{{this.rootURL}}assets/images/social/twitter.png'
            alt='Twitter'
            title='Twitter'
          />
        </a>
        <a href='https://www.facebook.com/fzerocentral/'>
          <img
            src='{{this.rootURL}}assets/images/social/facebook.png'
            alt='Facebook'
            title='Facebook'
          />
        </a>
        <a href='https://www.youtube.com/user/fzerocentralorg'>
          <img
            src='{{this.rootURL}}assets/images/social/youtube.png'
            alt='YouTube'
            title='YouTube'
          />
        </a>
        <a href='https://www.twitch.tv/fzerocentral'>
          <img
            src='{{this.rootURL}}assets/images/social/twitch.png'
            alt='Twitch'
            title='Twitch'
          />
        </a>
      </div>
    </div>

    <div class='spacer'></div>

    <div class='current-time'>
      Current time: {{date-display 'now' 'datetime'}}
    </div>

  </footer>

</div>